@import "src/assets/sass/colors";
.footer {
    width: 100vw;
    background-color: $background;
    height: 5vh;
    text-align: center;
    position: fixed;
    bottom: 0;
    p {
        color: black;
    }
}

* {
    margin: 0;
    padding: 0;
}
