.navbar {
    height: 10%;
    header {
        margin: 1em;
        .newUser {
            background-color: #00ff82f2;
            padding: 20px;
            user-select: none;
            border-radius: 22px;
            button {
                margin-left: 1%;
            }
        }
        .multipleDelete {
            background-color: red;
            padding: 20px;
            user-select: none;
            border-radius: 22px;
            margin-left: 2em;
            button {
                margin-left: 1%;
                color: black;
            }
        }
    }
}
