@import "src/colors";
.navbar {
    height: 10%;
    header {
        margin: 1em;
        min-width: 40em;
        overflow-x: auto;
        .newUser {
            background-color: $addLabel;
            padding: 20px;
            user-select: none;
            border-radius: 22px;
            button {
                margin-left: 1%;
            }
        }
        .multipleDelete {
            background-color: $deleteLabel;
            padding: 20px;
            user-select: none;
            border-radius: 22px;
            margin-left: 2em;
            button {
                margin-left: 1%;
            }
        }
    }
}
