@import "src/assets/sass/colors";
header {
    min-width: 100vw;
    margin: 1% 0 0.5% 1%;
    overflow-x: hidden;
    .newUser {
        background-color: $addLabel;
        padding: 20px;
        user-select: none;
        border-radius: 22px;
        button {
            margin-left: 1%;
        }
    }
    .multipleDelete {
        background-color: $deleteLabel;
        padding: 20px;
        user-select: none;
        border-radius: 22px;
        margin-left: 2em;
        button {
            margin-left: 1%;
        }
    }
}
.logo {
    position: fixed;
    max-width: 6em;
    right: 5%;
    top: -1%;
}

@media (max-width: 425px) {
    .newUser {
        display: none;
    }
    .create {
        margin-right: 2%;
    }
    .multipleDelete {
        display: none;
    }
}

@media (min-width: 426px) {
    .create {
        display: none;
    }
    .delete {
        display: none;
    }
}
