<div class="navbar" *ngIf="!(router.url === '/login' || router.url === '/home')">
    <header>
        <label *ngIf="router.url != '/error404'" class="newUser"> New User
            <button color="primary" mat-fab [routerLink]="'users/new'">
                <mat-icon>person_add </mat-icon>
            </button>
        </label>
        <button *ngIf="router.url != '/error404'" class="create" color="primary" mat-fab [routerLink]="'users/new'">
            <mat-icon>person_add </mat-icon>
        </button>
        <button *ngIf="router.url == '/error404'" color="primary" mat-fab [routerLink]="'users/'">
            <mat-icon>list </mat-icon>
        </button>
        <label *ngIf="router.url == '/users' && !mobile" class="multipleDelete"> Delete Doctors
            <button mat-fab color="warn" (click)="openRemoveDialog()">
                <mat-icon>delete </mat-icon>
            </button>
        </label>
        <button class="delete" *ngIf="router.url == '/users'" mat-fab color="warn" (click)="openRemoveDialog()">
            <mat-icon>delete </mat-icon>
        </button>
        <button *ngIf="router.url === '/users'" mat-raised-button class="logOut" (click)="logOut()">
            Log Out
        </button>
    </header>
    <img src="../../../assets/logo.png" alt="" class="logo" srcset="">

</div>