@import "../user-detail/user-detail.component.scss";
* {
    overflow: hidden;
}
.container {
    table {
        .matTab {
            max-width: 90vw;
            .form-container {
                padding-top: 2em;
                overflow: auto;
            }
        }
        tr {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .save:active {
            color: green;
        }
    }
}

@media (max-width: 425px) {
    tr {
        flex-wrap: wrap;
    }

    .form-container {
        max-height: 35vh;
        overflow-y: auto;
    }
}
