* {
    text-align: center;
    .detail-card {
        width: 70%;
        position: absolute;
        top: 15%;
        left: 15%;
        text-align: center;
    }
    .header {
        text-align: center;
        width: 100%;
    }
    mat-card-content {
        text-align: -webkit-center;
        .dataHeader {
            display: flex;
            justify-content: space-evenly;
        }
        .data {
            display: flex;
            justify-content: space-evenly;
        }
    }
    .actions {
        display: flex;
        justify-content: space-evenly;
        margin-top: 5%;
    }
}
