* {
    text-align: center;
    .container {
        height: 55vh;
        margin-left: 5%;
        table {
            .matTab {
                max-width: 90vw;
                .form-container {
                    padding-top: 2em;
                }
            }
        }
    }
    .detail-card {
        width: 70%;
        position: absolute;
        top: 15%;
        left: 15%;
        text-align: center;
    }
    .header {
        text-align: center;
        width: 100%;
    }
    mat-card-content {
        text-align: -webkit-center;
    }
    .userData {
        display: grid;
        .dataHeader {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
        .data {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
        }
    }
    .addressData {
        display: grid;
        .dataHeader {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
        .data {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    .insuranceData {
        display: grid;
        .dataHeader {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .data {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
    }
    .medicalData {
        display: grid;
        .dataHeader {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .data {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .actions {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 450px) {
    mat-card {
        margin-top: 10%;
    }
    .data {
        font-weight: 700;
    }
    .userData {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dataHeader {
            grid-template-columns: 1fr !important;
        }
        .data {
            grid-template-columns: 1fr !important;
        }
    }
    .addressData {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dataHeader {
            grid-template-columns: 1fr !important;
        }
        .data {
            grid-template-columns: 1fr !important;
        }
    }

    .medicalData {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .dataHeader {
            grid-template-columns: 1fr !important;
        }
        .data {
            grid-template-columns: 1fr !important;
        }
    }
}
