<mat-card class="detail-card card-container" *ngIf="user">
    <mat-card-header>
        <div class="header">
            <mat-card-title>{{user.name}} {{user.firstSurname}}</mat-card-title>
        </div>
    </mat-card-header>
    <mat-card-content class="container">
        <table class="table table-hover" aria-describedby="DataTables_Table_0_info">
            <tbody>
                <tr>
                    <mat-tab-group dynamicHeight class="matTab">
                        <mat-tab label="Personal Information">
                            <mat-icon>perm_identity</mat-icon>
                            <div class="form-container userData example-large-box mat-elevation-z4">
                <tr class="dataHeader">
                    <td>Name</td>
                    <td>Surname</td>
                    <td *ngIf="user.secondSurname">Second Surname</td>
                    <td *ngIf="user.gender">Gender</td>
                    <td *ngIf="user.birthDate">Birthdate</td>
                </tr>
                <tr class="data">
                    <td>{{user.name}}</td>
                    <td>{{user.firstSurname}}</td>
                    <td *ngIf="user.secondSurname">{{user.secondSurname}}</td>
                    <td>{{user.gender}}</td>
                    <td>{{user.birthDate | date: "MM/dd/yyyy"}}</td>
                </tr>
                </div>
                </mat-tab>
                <mat-tab label="Address">
                    <mat-icon> location_on</mat-icon>
                    <div class="form-container addressData example-large-box mat-elevation-z4">
                        <tr class="dataHeader">
                            <td>City</td>
                            <td>Address</td>
                            <td>Door</td>
                            <td>Postal Code</td>
                        </tr>
                        <tr class="data">
                            <td>{{user.address.city}}</td>
                            <td>{{user.address.street}} {{user.address.streetNumber}}</td>
                            <td>{{user.address.doorNumber}}</td>
                            <td>{{user.address.postalCode}}</td>
                        </tr>
                    </div>
                </mat-tab>
                <mat-tab label="Medical Data">
                    <mat-icon>favorite_border</mat-icon>
                    <div class="form-container medicalData example-large-box mat-elevation-z4">
                        <tr class="dataHeader">
                            <td *ngIf="user['professionalType']">User</td>
                            <td *ngIf="user['medicalBoardNumber']">Medical Board Number</td>
                            <td *ngIf="user['nhc']">NHC</td>
                        </tr>
                        <tr class="data">
                            <td *ngIf="user['professionalType']">{{user['professionalType']}}</td>
                            <td *ngIf="user['medicalBoardNumber']">{{user['medicalBoardNumber']}}</td>
                            <td *ngIf="user['nhc']">{{user['nhc']}}</td>
                        </tr>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="user['nhc']" label="Insurance">
                    <mat-icon> attach_money</mat-icon>
                    <div class="form-container insuranceData example-large-box mat-elevation-z4">
                        <tr class="dataHeader">
                            <td>Insurance Company</td>
                            <td>Insurance Type</td>
                            <td *ngIf="user['insurances']['cardNumber'] != ''"> Card Number</td>
                        </tr>
                        <tr class="data" *ngFor="let insurance of user['insurances']">
                            <td>{{insurance.insuranceCompanyName}}</td>
                            <td>{{insurance.insuranceType}}</td>
                            <td *ngIf="insurance.cardNumber != ''">{{insurance.cardNumber}}</td>
                        </tr>
                    </div>
                </mat-tab>
                </mat-tab-group>
                </tr>

            </tbody>
        </table>
    </mat-card-content>
    <mat-card-actions class="actions">
        <button mat-button [routerLink]="'../../'">
            <mat-icon>keyboard_return</mat-icon>
        </button>
        <button mat-button (click)="openEdit(user, route.snapshot.params.endPoint)">
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-button (click)="openRemoveDialog(user, route.snapshot.params.endPoint)">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
<app-spinner *ngIf="getShowSpinner()"></app-spinner>