@import "src/colors";

mat-table {
    max-height: 34em;
    overflow: auto;
    padding-bottom: 25%;
    mat-header-cell {
        font-size: initial;
        &:hover {
            transition: 0.8s;
            font-size: large;
            color: black;
            cursor: default;
        }
    }
    mat-row {
        &:focus {
            outline: $primary solid 3px;
        }
        mat-cell {
            margin: 0 1%;
            &:hover {
                transition: 0.8s;
                font-size: initial;
                color: black;
                cursor: pointer;
            }
            .deleteCheckbox {
                margin-left: 1em;
            }
        }
        .edit {
            margin: 5px;
        }
    }
}
.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}
