<mat-form-field class="filter">
    <input matInput (keyup)="findUser($event)" placeholder="Find your user" autocomplete="off">
</mat-form-field>

<div class="mat-elevation-z8 container">

    <app-spinner *ngIf="getShowSpinner()"></app-spinner>

    <div class="tabGroup">
        <mat-tab-group #tabGroup>
            <mat-tab label="Users">
                <mat-table [dataSource]="usersData" class="mat-elevation-z8" matSort matSortActive="name"
                    matSortDirection="asc">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- surName Column -->
                    <ng-container matColumnDef="surname">
                        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.firstSurname}} </mat-cell>
                    </ng-container>

                    <!-- Medical Clinic History Number -->
                    <ng-container matColumnDef="chn">
                        <mat-header-cell *matHeaderCellDef> CHN </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nhc}} </mat-cell>
                    </ng-container>

                    <!-- Medical board number Column -->
                    <ng-container matColumnDef="medicalNumber">
                        <mat-header-cell *matHeaderCellDef> Medical Board Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.medicalBoardNumber}} </mat-cell>
                    </ng-container>

                    <!-- Edit Option -->
                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell class="edit" *matCellDef="let element">
                            <button mat-fab color="primary"
                                (click)="openEdit(element, element.nhc ? 'patients' : 'professionals')">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Delete Option -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button (click)="openRemoveDialog(element, element.nhc ? 'patients' : 'professionals')"
                                mat-fab color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="userColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: userColumns"
                        [routerLink]="[row.nhc ? 'patients' : 'professionals', row._id ]">
                    </mat-row>

                </mat-table>
                <mat-paginator class="mat-paginator-sticky" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </mat-tab>
            <mat-tab label="Patients">

                <mat-table [dataSource]="patientsData" class="mat-elevation-z8" matSort matSortActive="name"
                    matSortDirection="asc">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- surName Column -->
                    <ng-container matColumnDef="surname">
                        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.firstSurname}} </mat-cell>
                    </ng-container>

                    <!-- Medical Clinic History Number -->
                    <ng-container matColumnDef="chn">
                        <mat-header-cell *matHeaderCellDef> CHN </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.nhc}} </mat-cell>
                    </ng-container>

                    <!-- Edit Option -->
                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell class="edit" *matCellDef="let element">
                            <button mat-fab color="primary" (click)="openEdit(element, 'patients')">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Delete Option -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button (click)="openRemoveDialog(element, 'patients')" mat-fab color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="patientColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: patientColumns" [routerLink]="['./patients', row._id]">
                    </mat-row>

                </mat-table>
                <mat-paginator class="mat-paginator-sticky" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </mat-tab>
            <mat-tab label="Professionals">
                <mat-table [dataSource]="professionalsData" class="mat-elevation-z8" matSort matSortActive="name"
                    matSortDirection="asc">

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <!-- surName Column -->
                    <ng-container matColumnDef="surname">
                        <mat-header-cell *matHeaderCellDef> Surname </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.firstSurname}} </mat-cell>
                    </ng-container>

                    <!-- Medical board nymber Column -->
                    <ng-container matColumnDef="medicalNumber">
                        <mat-header-cell *matHeaderCellDef> Medical Board Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.medicalBoardNumber}} </mat-cell>
                    </ng-container>

                    <!-- Edit Option -->
                    <ng-container matColumnDef="edit">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell class="edit" *matCellDef="let element">
                            <button mat-fab color="primary" (click)="openEdit(element, 'professionals')">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Delete Option -->
                    <ng-container matColumnDef="delete">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button (click)="openRemoveDialog(element, 'professionals')" mat-fab color="warn">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="professionalColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: professionalColumns"
                        [routerLink]="['./professionals', row._id]"></mat-row>

                </mat-table>
                <mat-paginator class="mat-paginator-sticky" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>