@import "src/assets/sass/colors";

.container {
    width: 100%;
    margin: auto;
    .tabGroup {
        margin: 0 1%;
        border-radius: 22px;
        background-color: white;
    }

    mat-table {
        max-height: 55vh;
        min-height: 55vh;
        overflow: auto;
        mat-header-cell {
            font-size: initial;
            display: flex;
            justify-content: center;
            color: $primary;
            &:hover {
                transition: 0.8s;
                font-size: large;
                cursor: default;
            }
        }
        mat-row {
            &:focus {
                outline: $primary solid 3px;
            }
            &:hover {
                background-color: $listHover;
            }
            mat-cell {
                justify-content: center;
                &:hover {
                    transition: 0.8s;
                    font-size: initial;
                    color: black;
                    cursor: pointer;
                }
            }
            .edit {
                display: flex;
                flex-direction: row;
                padding: 5px;
            }
        }
        .no-results {
            width: 100vw;
            padding: 1em;
        }
    }
    mat-paginator {
        bottom: 0px;
        position: sticky;
        border-radius: 0 0 22px 22px;
    }
}

.filter {
    width: 90%;
    margin: 0 5%;
}

@media (max-width: 425px) {
    .hide {
        display: none !important;
    }
}
