@import "src/assets/sass/colors";

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.container {
    background-color: $secondary;
    color: white;
    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;

        .button {
            display: flex;
            justify-content: flex-end;
        }

        .action-buttons {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 5vh;
            .register {
                cursor: pointer;
            }
        }
        .mat-form-field {
            width: 100%;
            min-width: 300px;
            input {
                color: white;
            }
            mat-label {
                color: white;
            }
        }
    }
}

.register-container {
    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;
    }
    mat-card-title,
    mat-card-content {
        display: flex;
        justify-content: center;

        .button {
            display: flex;
            justify-content: flex-end;
        }

        .register-form {
            height: 35vh;
            .mat-form-field {
                width: 100%;
                min-width: 300px;
            }
            .action-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}
