@import "src/colors";

form {
    text-align: center;
    mat-form-field {
        margin-right: 10%;
        input {
            background-color: #303030;
            color: white;
            height: 2em;
            padding: 1em;
            border-radius: 22px;
        }
        mat-select {
            background-color: #303030;
            color: white;
            height: 2em;
            padding: 1em;
            border-radius: 22px;
        }
    }
}
