<div class="create-form-container">
    <!-- Template Driven Forms -->
    <!--  <app-spinner *ngIf="getShowSpinner()"></app-spinner> -->

    <form #createUser="ngForm" (ngSubmit)="addUser()">
        <mat-horizontal-stepper #stepper>
            <mat-step [stepControl]="userForm">
                <form [formGroup]="userForm">
                    <ng-template matStepLabel>Personal Information</ng-template>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" #name required autocomplete="off" autofocus>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Surname</mat-label>
                            <input matInput formControlName="firstSurname" #firstSurname required autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Second Surname </mat-label>
                            <input matInput formControlName="secondSurname" #secondSurname autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" #gender>
                                <mat-option value='Male'>Male</mat-option>
                                <mat-option value='Female'>Female</mat-option>
                                <mat-option value='Other'>Other</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input (click)="birthDate.open()" formControlName="birthDate" [max]="maxDate" matInput
                                [matDatepicker]="birthDate">
                            <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                            <mat-datepicker #birthDate></mat-datepicker>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>User Type</mat-label>
                            <mat-select [(value)]="patient" #userType formControlName="userType"
                                (selectionChange)="verifyUser(userType.value)" required>
                                <mat-option value="Patient">Patient</mat-option>
                                <mat-option value="Professional">Professional</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field *ngIf="!isPatient" appearance="outline">
                            <mat-label>Professional Type</mat-label>
                            <mat-select formControlName="professionalType" #professionalType required>
                                <mat-option value='Doctor'>Doctor</mat-option>
                                <mat-option value='Nurse'>Nurse</mat-option>
                                <mat-option value='Administrative'>Administrative</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>NIF/Passport</mat-label>
                            <input formControlName="nif" matInput #nif autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step>
                <form [formGroup]="addressForm">
                    <ng-template matStepperIcon="location_on" matStepLabel>Address Information</ng-template>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>City</mat-label>
                            <input formControlName="city" matInput #city autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Postal Code</mat-label>
                            <input formControlName="postalCode" matInput #postalCode autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Street</mat-label>
                            <input formControlName="street" matInput #street autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="outline">
                            <mat-label>Street Number</mat-label>
                            <input formControlName="streetNumber" matInput #streetNumber autocomplete="off">
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Door Number/Letter</mat-label>
                            <input formControlName="doorNumber" matInput #doorNumber autocomplete="off">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <!-- Medical Step  -->
            <mat-step [stepControl]="medicalForm">
                <form [formGroup]="medicalForm">
                    <ng-template matStepLabel>Medical & Insurance Information</ng-template>
                    <div *ngIf="userForm.valid">
                        <div class="row">
                            <mat-form-field *ngIf="!isPatient" appearance="outline">
                                <mat-label>Medical Board Number</mat-label>
                                <input matInput #medicalBoardNumber formControlName="medicalBoardNumber"
                                    autocomplete="off" [required]="!isPatient">
                            </mat-form-field>

                            <mat-form-field *ngIf="isPatient" appearance="outline">
                                <mat-label>NHC</mat-label>
                                <input matInput #nhc formControlName="nhc" autocomplete="off" [required]="isPatient">
                            </mat-form-field>
                        </div>

                        <div formArrayName="insurances">
                            <button color="primary" *ngIf="isPatient" mat-button type="button" (click)="addInsurance()">
                                Add Insurance <mat-icon>add</mat-icon> </button>
                            <div *ngFor="let insurance of insuranceList().controls; let i = index" [formGroupName]="i">

                                <mat-form-field *ngIf="isPatient" appearance="outline">
                                    <mat-label>Insurance Company</mat-label>
                                    <input matInput formControlName="insuranceCompanyName" #insuranceCompanyName
                                        autocomplete="off">
                                </mat-form-field>

                                <mat-form-field *ngIf="isPatient" appearance="outline">
                                    <mat-label>Card Number</mat-label>
                                    <input formControlName="cardNumber" matInput #cardNumber autocomplete="off">
                                </mat-form-field>

                                <mat-form-field *ngIf="isPatient" appearance="outline">
                                    <mat-label>Insurance Type</mat-label>
                                    <mat-select formControlName="insuranceType" #insuranceType [required]="isPatient">
                                        <mat-option value='Health'>Health</mat-option>
                                        <mat-option value='Family'>Family</mat-option>
                                        <mat-option value='Dental'>Dental</mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </div>
                        </div>
                    </div>

                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="(userForm && medicalForm)">
                <ng-template matStepLabel>Done</ng-template>
                <h2 class="doneMessage"
                    [hidden]="userForm.pristine || userForm.invalid || ((medicalForm.controls.nhc.pristine || medicalForm.controls.nhc.invalid) && (medicalForm.controls.medicalBoardNumber.pristine || medicalForm.controls.medicalBoardNumber.invalid))">
                    You are now done.</h2>
                <div>
                    <button mat-raised-button
                        [disabled]="userForm.pristine || userForm.invalid || ((medicalForm.controls.nhc.pristine || medicalForm.controls.nhc.invalid) && (medicalForm.controls.medicalBoardNumber.pristine || medicalForm.controls.medicalBoardNumber.invalid))"
                        color="primary" type="submit">Create User <mat-icon> add</mat-icon></button>
                </div>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>

        <br>
        <br>

        <button mat-raised-button color="warn" type="submit" [routerLink]="'../'">Cancel</button>
    </form>
</div>