@import "src/assets/sass/colors";

.create-form-container {
    overflow: auto;
    max-height: 80vh;
    form {
        overflow: auto;
        text-align: center;
        .row {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .doneMessage {
            color: $primary;
        }
        ::ng-deep .mat-horizontal-stepper-header {
            pointer-events: none !important;
        }
    }
}

@media (max-width: 425px) {
    form {
        overflow: auto;
    }
    .row {
        justify-content: flex-start !important;
    }
}
